<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Certificados Emitidos')}"></head>
<body>
	<header th:replace="~{fragmentos/header :: header(activePage='certificados')}"></header>

	<div class="container">
		<div class="image-container">
				<img th:src="@{/images/certificado.png}"
				     src="/images/certificado.png"
				     alt="Bem vindo a página de gestão de certificados "
				     class="image">
		</div>
		<div class="header-crud">
			<h2>Certificados Emitidos</h2>
			<a th:href="@{/certificado/formulario}" class="btn">
				<i class="fa-solid fa-certificate"></i> Emitir Certificado
			</a>
		</div>

		<table th:if="${certificados.size() > 0}">
			<thead>
				<tr>
					<th>Aluno</th>
					<th>Evento</th>
					<th>Medalha</th>
					<th>Pontos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${certificados}">
					<td th:text="${c.aluno.nome}"></td>
					<td th:text="${c.evento.tema}"></td>
					<td><span class="badge badge-warning" th:text="${c.medalha}"></span></td>
					<td th:text="${c.pontuacao}"></td>
				</tr>
			</tbody>
		</table>

		<div th:unless="${certificados.size() > 0}" class="alert alert-info">
			Nenhum certificado emitido ainda.
		</div>
	</div>

	<div th:replace="~{fragmentos/footer :: footer}"></div>
</body>
</html>
