<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Gestão de Eventos')}"></head>
<body>
	<header th:replace="~{fragmentos/header :: header(activePage='eventos')}"></header>

	<div class="container">
		<div th:if="${message}" class="alert alert-success">[[${message}]]</div>

		<div class="hero-section" th:style="'background-image: url(' + @{/images/evento.png} + ');'">
            <div class="hero-content">
                <h1>Gestão de Eventos</h1>
                <p>Organize e gerencie os eventos do sistema Muttley.</p>
            </div>
        </div>
    

		<div class="header-crud">
			<h2>Eventos Agendados</h2>
			<a th:href="@{/evento/formulario}" class="btn">
				<i class="fa-solid fa-calendar-plus"></i> Novo Evento
			</a>
		</div>

		<div th:if="${eventos.size() > 0}">
			<table>
				<thead>
					<tr>
						<th>Tema</th>
						<th>Organizador</th>
						<th>Pontos</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${eventos}">
						<td th:text="${e.tema}"></td>
						<td th:text="${e.organizador.nome}"></td>
						<td th:text="${e.pontos}"></td>
						<td class="text-center">
							<a th:href="@{/evento/formulario(id=${e.id})}" class="text-primary" title="Editar">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:unless="${eventos.size() > 0}" class="alert alert-info">
			Nenhum evento cadastrado ainda.
		</div>
	</div>

	<div th:replace="~{fragmentos/footer :: footer}"></div>
</body>
</html>
