<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Gestão de Alunos')}"></head>
<body>
	<header th:replace="~{fragmentos/header :: header(activePage='alunos')}"></header>

	<main class="container">
		<div th:if="${message}" class="alert alert-success" role="alert">[[${message}]]</div>
		<div th:if="${error}"   class="alert alert-danger"  role="alert">[[${error}]]</div>
        <div class="image-container">
				<img th:src="@{/images/aluna_oculos.png}"
				     src="/images/aluna_oculos.png"
				     alt="Bem vindo a página de gestão de alunos"
				     class="image">
		</div>
		<div class="header-crud">
			<h2>Gestão de Alunos</h2>
			<a th:href="@{/aluno/formulario}" class="btn">
				<i class="fa-solid fa-user-plus"></i> Novo Aluno
			</a>
		</div>

		<div th:if="${listaAlunos.size() > 0}">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Pontos</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${listaAlunos}">
						<td th:text="${aluno.nome}"></td>
						<td th:text="${aluno.email}"></td>
						<td th:text="${aluno.pontos}"></td>
						<td class="text-center">
							<a th:href="@{'/aluno/formulario/' + ${aluno.ra}}" class="btn btn-sm" title="Editar">
								<i class="fa-regular fa-pen-to-square"></i> Editar
							</a>
							<a th:href="@{'/aluno/delete/' + ${aluno.ra}}" class="btn btn-sm btn-danger" title="Excluir"
							   onclick="return confirm('Deseja excluir este aluno?')">
								<i class="fa-regular fa-trash-can"></i> Excluir
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:unless="${listaAlunos.size() > 0}" class="alert alert-info">
			Nenhum aluno cadastrado ainda.
		</div>
	</main>

	<div th:replace="~{fragmentos/footer :: footer}"></div>
</body>
</html>
